<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <label for="name">Nom</label>
  <input type="text" name="name" id="name" ngModel>
<br />
  <label for="price">Prix</label>
  <input type="text" name="price" id="price" ngModel>
<br />
  <button type="submit">Ajouter une boisson</button>
</form>