<nav>
  <ul>
      <li><a [routerLink]="['list']" routerLinkActive="active">Listes</a></li>
      <li><a [routerLink]="['ajouter-une-boisson']" routerLinkActive="active">Ajouter une boisson</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
